<!DOCTYPE html>
<html>
  <head>
      <title>PER 계산</title>
      
</head> 
    <body>
        <h1 style="color:red" >
        <center>PER 계산기</center>
        </h1> 
        <div style="text-align:center">
            <img src = "{{url_for('static',filename='img/share.jpg')}}" 
                 width = 750 height = 500>
        <br><br><br>
        </div>
        <p>
        <h1 style ="color:blue">
        </h1>
        <a href = "/show" style = "color:black">
        <center><h2>주식 PER 확인하기</h2></center>
        </p>
</body>
</html>